{
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "prettier",
    "simple-import-sort"
  ],
  "extends": [
    "prettier",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "trailingComma": "none",
        "semi": true,
        "arrowParens": "always",
        "endOfLine": "auto",
        "useTabs": false,
        "singleQuote": false,
        "printWidth": 120,
        "jsxSingleQuote": false
      }
    ],
    // Turn off other ESLint rules that conflict with Prettier
    "no-console": "off",
    "no-eval": "off",
    "react/react-in-jsx-scope": "off",
    // Simple import sort rules
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          // Packages `react` related packages come first.
          ["^react", "^@?w"],
          // Internal packages.
          ["^(@|src)(/.*|$)"],
          // Side effect imports.
          ["^u0000"],
          // Parent imports. Put `..` last.
          ["^..(?!/?$)", "^../?$"],
          // Other relative imports. Put same-folder imports and `.` last.
          ["^./(?=.*/)(?!/?$)", "^.(?!/?$)", "^./?$"],
          // Style imports.
          ["^.+.?(css)$"]
        ]
      }
    ]
  }
}
