<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="24.12.0" targetFramework="net472" />
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net472" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net472" />
  <package id="ConvertApi" version="3.1.2" targetFramework="net472" />
  <package id="FreeSpire.PDF" version="10.2.0" targetFramework="net472" />
  <package id="Freeware.Pdf2Png" version="1.0.1" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.23.0" targetFramework="net472" />
  <package id="Grpc" version="2.46.6" targetFramework="net472" />
  <package id="Grpc.Core" version="2.46.6" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.62.0" targetFramework="net472" />
  <package id="Grpc.Net.Client" version="2.62.0" targetFramework="net472" />
  <package id="Grpc.Net.Common" version="2.62.0" targetFramework="net472" />
  <package id="IronPdf" version="2024.12.9" targetFramework="net472" />
  <package id="IronPdf.Extensions.ASPX" version="2023.10.3" targetFramework="net472" />
  <package id="IronPdf.Native.Chrome.Windows" version="2024.12.1" targetFramework="net472" />
  <package id="IronPdf.Slim" version="2024.12.9" targetFramework="net472" />
  <package id="IronSoftware.Abstractions" version="2024.11.8" targetFramework="net472" />
  <package id="IronSoftware.Common" version="2024.11.2" targetFramework="net472" />
  <package id="IronSoftware.Drawing.Abstractions" version="2024.11.8" targetFramework="net472" />
  <package id="IronSoftware.Native.PdfModel" version="2024.12.1" targetFramework="net472" />
  <package id="IronSoftware.System.Drawing" version="2024.12.3" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="Magick.NET.Core" version="14.2.0" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="14.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Connections.Client" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Connections.Common" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.SignalR.Client.Core" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.SignalR.Common" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.SignalR.Protocols.Json" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.TimeProvider" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="6.0.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Features" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Pdfium.Net.SDK" version="4.94.2704" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.no_v8-no_xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PDFsharp" version="6.1.1" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="2.1.9" targetFramework="net472" />
  <package id="SixLabors.ImageSharp.Drawing" version="1.0.0" targetFramework="net472" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.PerformanceCounter" version="4.5.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Net.Http.Json" version="8.0.0" targetFramework="net472" />
  <package id="System.Net.Http.WinHttpHandler" version="7.0.0" targetFramework="net472" />
  <package id="System.Net.ServerSentEvents" version="9.0.0" targetFramework="net472" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="4.7.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.0" targetFramework="net472" />
  <package id="System.Threading.Channels" version="9.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>