/* @tailwind base;
@tailwind components;
@tailwind utilities; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-items {
  display: inline-block;
  width: 120px;
  white-space: normal;
  line-height: normal;
  word-spacing: normal;
  padding: 0px;
}  